footer h4 {
  color: #fff!important;
  border-bottom: 1px solid #777;
  padding-bottom: 20px;
}
footer ul li span {
  color: #777;
  font-size: 12px;
   border-bottom: 1px solid #484848;
  font-size: 12px;
  display: block;
  padding: 5px 12px;
}
footer ul li a {
  color: #777;
  font-size: 12px;
   border-bottom: 1px solid #484848;
  font-size: 12px;
  display: block;
  padding: 5px 12px;
}
footer ul li{
background: none;
  border: none;
  display: block;
  background: url("../img/footer-list-item.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
}
.no-blt > li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 
}
.no-blt > li a, .no-blt > li a:hover {
    padding: 0 12px;
	text-decoration:none;
	   border: none!important;
} 
#homepage.field-type-image img{float:left;width:400px;}
#homepage h2 , #homepage h2 a  {  font-size:22px; font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;   text-transform: initial; margin-bottom: 20px;}
#homepage > .container > .row > .col-lg-12 > .region-content > .block > .text-muted > .node-promoted > .content > h2 a{font-size: 18px;}
#homepage > .container > .row > .col-lg-12 > .region-content > .block > .text-muted > .node-promoted > .content > .field-type-image > .field-items > .field-item img {
    /* border: 1px solid #ccc;
	padding:4px; */
    float: left;
	box-sizing:border-box;
	margin-bottom:20px;
}
#homepage > .container > .row > .col-lg-12 > .region-content > .block > .text-muted > .node-promoted{
padding-bottom:50px;

border-bottom: 2px dotted #ccc;
}
#homepage > .container > .row > .col-lg-12 > .region-content > .block > .text-muted > .node-promoted > .content > .field-type-image > .field-items > .field-item {
width: 50%;
float:left;
/* border-right: 2px dotted #ccc; */
padding-right:10px;
}
.node.node-sticky {
  /*   border: 5px solid #cdcdcd;
    padding: 0 20px 20px;
	float: right; */
}
 #homepage > .container > .row > .col-lg-12 > .region-content > .block > .text-muted > .node-promoted > .content > .field-type-text-with-summary > .field-items > .field-item p {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,cursive;
  line-height: 26px;
  font-size: 14px;
  font-style: italic;
}
#admin-menu { z-index: 99999;}
.field-item p {
box-sizing:border-box;
font-family: "Helvetica Neue",Helvetica,Arial,cursive;
line-height:22px;
font-size:14px;
}
#inner-page > .container > .row > .col-lg-12 > .region-content > .block > .text-muted > .node-promoted > .content > .field-type-image > .field-items > .field-item img {
	margin-bottom: 20px;
}

#inner-page #page-title {
  margin-bottom: 25px;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px;
  font-style: italic;
  line-height: 40px;
  text-transform: initial;
  font-weight: normal;
}
section#services {
  padding: 100px 0px;
}